{% load i18n static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <title>PixelPlace · Canvases</title>
  <link rel="stylesheet" href="{% static 'core/styles.css' %}">
  <style>
    ul {
  list-style: none;
  padding: 0;
}
ul li {
  margin: .5rem 0;
}
ul li a {
  display:inline-block;
  padding:.25rem .75rem;
  border:1px solid #2563eb;
  color:#2563eb;
  border-radius:6px;
  text-decoration:none;
}


    
  </style>
</head>
<body>
    {% if not user.is_authenticated %}
  <a href="{% url 'signup' %}?next={{ request.path }}" style="color:#3b82f6">Sign up</a> |
  <a href="{% url 'login'  %}?next={{ request.path }}" style="color:#3b82f6">Login</a>
{% else %}
<p>logged in</p>
{% endif %}
  <div>
    <a href="{% url 'set_language' %}" 
       onclick="event.preventDefault(); document.getElementById('lang-form').submit();">
      {% get_current_language as LANG_CODE %}
      {% if LANG_CODE == 'lv' %}
        English
      {% else %}
        Latviešu
      {% endif %}
    </a>
    <form id="lang-form" action="{% url 'set_language' %}" method="post" style="display:none">
      {% csrf_token %}
      <input name="language" value="{% if LANG_CODE == 'lv' %}en{% else %}lv{% endif %}" type="hidden">
      <input type="hidden" name="next" value="{{ request.path }}">
    </form>
  </div>

  <h1>{% trans "Available canvases" %}</h1>
  <ul>
    {% for c in canvases %}
      <li>
        <a href="{% url 'canvas' c.id %}">
          {{ c.name }} — {{ c.width }}×{{ c.height }} {% trans "pixels" %}
        </a>
      </li>
    {% empty %}
      <li>{% trans "No canvases yet." %}</li>
    {% endfor %}
  </ul>
</body>
</html>
